#  @@@Playing an Add or showing the Details of the known person@@@

In [41]:
import pandas as pd
data = pd.read_csv('E:/WEB_PROJECTS/Smile_FR_Project/FR_ML_CODE/Id.csv')

In [55]:
data

    Unnamed: 0     name                 date          dt
0            0  Karthik  09-11-2020 17:02:02  09-11-2020
1            1  Karthik  09-11-2020 17:03:05  09-11-2020
2            2  Karthik  09-11-2020 18:31:54  09-11-2020
3            3  Karthik  09-11-2020 18:33:48  09-11-2020
4            4  Karthik  09-11-2020 18:35:05  09-11-2020
..         ...      ...                  ...         ...
94          94  Dhanush  27-03-2021 16:32:17  27-03-2021
95          95  Dhanush  27-03-2021 16:48:51  27-03-2021
96          96  Dhanush  30-03-2021 10:58:05  30-03-2021
97          97  Dhanush  30-03-2021 12:09:55  30-03-2021
98          98  Dhanush  01-04-2021 10:32:58  01-04-2021

[99 rows x 4 columns]

In [43]:
l = len(data)
last_obj = data.loc[l-1]

In [56]:
last_obj

Unnamed: 0                     98
name                      Dhanush
date          01-04-2021 10:32:58
dt                     01-04-2021
Name: 98, dtype: object

In [44]:
date_of_recent = last_obj['date']

In [45]:
date_of_recent

'01-04-2021 10:32:58'

In [46]:
type(date_of_recent)

str

In [47]:
from datetime import datetime
now = datetime.now()

In [48]:
now

datetime.datetime(2021, 4, 1, 15, 0, 56, 264555)

In [49]:
obj_time = datetime.strptime(date_of_recent, '%d-%m-%Y %H:%M:%S')

In [50]:
obj_time

datetime.datetime(2021, 4, 1, 10, 32, 58)

In [51]:
difference_in_time = now - obj_time

In [52]:
diff_in_sec = difference_in_time.seconds

In [53]:
diff_in_sec

16078

In [54]:
if diff_in_sec<=10:
    print('Show the details of the person')
else:
    print('Play the Ad')

Play the Ad

# @@@@@@@@@@Connecting to POSTGRESQL@@@@@@@@@@

In [97]:
import psycopg2
conn = psycopg2.connect(
                        host = 'localhost',
                        database = 'FR-SMILE-DB',
                        user = 'postgres',
                        password = 'admin123',
                        port = 5432
)

In [98]:
conn

In [99]:
cur = conn.cursor()

In [100]:
cur

In [101]:
cur.execute('''SELECT * FROM public."CameraApp_status";''')

In [102]:
cur.fetchall()

[(3,
  'known',
  datetime.datetime(2021, 3, 30, 11, 3, 26, 353186, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (5,
  'known',
  datetime.datetime(2021, 3, 30, 11, 3, 41, 703828, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (6,
  'known',
  datetime.datetime(2021, 3, 30, 11, 3, 47, 573221, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (33,
  'unknown',
  datetime.datetime(2021, 3, 31, 13, 21, 42, 633740, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (34,
  'known',
  datetime.datetime(2021, 3, 31, 13, 26, 16, 224173, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (38,
  'unknown',
  datetime.datetime(2021, 3, 31, 18, 16, 19, 137715, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (39,
  'known',
  datetime.datetime(2021, 3, 31, 18, 19, 14, 385049, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (45,
  'unknown',
  datetime.datetime(2021, 4, 1, 10, 44, 35, 247848, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (46,
  'known',
  datetime.datetime(2021, 4, 1, 10, 44, 39, 770221, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (50,
  'unknown',
  datetime.datetime(2021, 4, 1, 11, 3, 4, 865690, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (51,
  'known',
  datetime.datetime(2021, 4, 1, 11, 19, 48, 991981, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (52,
  'unknown',
  datetime.datetime(2021, 4, 1, 11, 20, 50, 982437, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (53,
  'known',
  datetime.datetime(2021, 4, 1, 11, 21, 19, 300582, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (54,
  'unknown',
  datetime.datetime(2021, 4, 1, 11, 22, 56, 54640, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (55,
  'known',
  datetime.datetime(2021, 4, 1, 11, 24, 21, 438640, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (56,
  'unknown',
  datetime.datetime(2021, 4, 1, 11, 25, 32, 912716, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (57,
  'known',
  datetime.datetime(2021, 4, 1, 11, 25, 37, 993423, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (58,
  'unknown',
  datetime.datetime(2021, 4, 1, 11, 32, 5, 947838, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (59,
  'known',
  datetime.datetime(2021, 4, 1, 11, 34, 17, 767386, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (60,
  'unknown',
  datetime.datetime(2021, 4, 1, 11, 36, 6, 662304, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (61,
  'known',
  datetime.datetime(2021, 4, 1, 11, 36, 40, 78485, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (62,
  'unknown',
  datetime.datetime(2021, 4, 1, 11, 43, 50, 545623, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (63,
  'known',
  datetime.datetime(2021, 4, 1, 11, 54, 23, 328016, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (64,
  'unknown',
  datetime.datetime(2021, 4, 1, 11, 55, 6, 650104, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (65,
  'known',
  datetime.datetime(2021, 4, 1, 12, 2, 54, 73143, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (66,
  'unknown',
  datetime.datetime(2021, 4, 1, 12, 8, 46, 33367, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (67,
  'known',
  datetime.datetime(2021, 4, 1, 12, 18, 24, 457921, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None)))]

In [104]:
cur.execute('''SELECT * FROM public."CameraApp_patient";''')

In [105]:
cur.fetchall()

[(1,
  'Dhanush',
  'Komari',
  23,
  'O +ve',
  'Male',
  'Active',
  '7288833323',
  'dhanushkomari@gmail.com',
  'Nellore',
  datetime.datetime(2021, 3, 31, 12, 25, 45, 507157, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (2,
  'sarah',
  'Johnson',
  22,
  'B +ve',
  'Female',
  'Active',
  '9865555669',
  'sarah@gmail.com',
  'Madrid',
  datetime.datetime(2021, 3, 31, 16, 41, 39, 150325, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (3,
  'dwayne ',
  'johnosn',
  54,
  'B +ve',
  'Male',
  'Active',
  '8695965896',
  'dwayn@john.co',
  'Newyork',
  datetime.datetime(2021, 3, 31, 16, 50, 10, 142601, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (4,
  'john',
  'wick',
  56,
  'A -ve',
  'Male',
  'Active',
  '8965321245',
  'john@wick.com',
  'London',
  datetime.datetime(2021, 3, 31, 17, 6, 59, 700577, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None))),
 (5,
  'jack',
  'sparrow',
  45,
  'O -ve',
  'Male',
  'Active',
  '8965458574',
  'jack@sparrow.com',
  'windies',
  datetime.datetime(2021, 3, 31, 17, 8, 38, 817402, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None)))]

In [113]:
cur.execute('''INSERT INTO "CameraApp_status"(status, created_at)
            VALUES ('unknown', '01-04-2021 16:14:20');''')

In [114]:
conn.commit

ProgrammingError: no results to fetch